@page "/User"
@inject DbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout MainLayout

@* <div class="page-heading">
	<div class="header-info">
		<div class="page-info">
			<h3 class="header">End User</h3>
			<p class="subtitle"><a href="">Home</a> / End User</p>
		</div>
		<div class="pod-info">
			<p class="subtitle">POD: #@pod | Person: #@pid</p>
		</div>
	</div>
</div> *@


<div class="content-box">
	<div class="menu-page">
		<!-- ************************************************************************************ -->
		<!-- ******************************** DISPLAY PANELS ************************************ -->
		<!-- ************************************************************************************ -->
		<div class="titlebanner">
			<img src="images/UIpanels/UseCase_user.png" />
		</div>

		<!-- ************************************************************************************ -->
		<!-- *************************** USER INTERVIEW ***************************************** -->
		<!-- ************************************************************************************ -->
		<div class="button-container">
			<button class="buttonMenu01" @onclick="@(()=>_nav.NavigateTo("/EndUser?pod="+pod+"&pid="+pid))">
				<!-- Goal (place a text button label here) -->
			</button>

			<button class="buttonMenu02" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
				<!-- Task (place a text button label here) -->
			</button>

			<button class="buttonMenu03" @onclick="@(()=>_nav.NavigateTo("/Nova?pod="+pod+"&pid="+pid))">
				<!-- NOVA (place a text button label here) -->
			</button>

			<button class="buttonMenu04" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>

			<button class="buttonMenu05" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>

			<button class="buttonMenu06" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>

			<button class="buttonMenu07" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>

			<button class="buttonMenu08" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>

			<button class="buttonMenu09" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>

			<button class="buttonMenu10" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>

			<button class="buttonMenu11" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			</button>
		</div>
	</div>
</div>



<style>

	.buttonMenu01 {
		background-image: url("images/buttons/Btn_Goal_6.png");
	}

	.buttonMenu02 {
		background-image: url("images/buttons/Btn_Task_3.png");
	}

	.buttonMenu03 {
		background-image: url("images/buttons/Btn_Nova_3.png");
	}

	.buttonMenu04 {
		background-image: url("images/buttons/Btn_Radar_Chart_2.png");
	}

	.buttonMenu05 {
		background-image: url("images/buttons/Btn_Gantt_Chart_2.png");
	}

	.buttonMenu06 {
		background-image: url("images/buttons/Btn_Color_Chart_2.png");
	}

	.buttonMenu07 {
		background-image: url("images/buttons/Btn_Color_Table_2.png");
	}

	.buttonMenu08 {
		background-image: url("images/buttons/Btn_About_2.png");
	}

	.buttonMenu09 {
		background-image: url("images/buttons/Icon_Tables.png");
	}

	.buttonMenu10 {
		background-image: url("images/buttons/Icon_Process.png.png");
	}

	.buttonMenu11 {
		background-image: url("images/buttons/Icon_Reports.png");
	}

	.content {
		background-color: black;
	}

	.content-box {
		height: 1080px;
		width: 1920px;
		max-width: 1920px;
		max-height: 1080px;
		border-radius: unset;
		overflow: hidden;
	}
</style>
