@page "/Nova"
@inject DbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout MainLayout

<div class="component-page">
	<h3>
		<p>Pod#: @pod</p>
		<p>Person#:@pid</p>
	</h3>

	<style>
		.component-page {
			background: url(images/BG/background_acad.png)no-repeat;
		}

		.nova button {
			padding: 0;
			margin: 0;
			width: 200px;
			height: 100px;
			text-align: center;
			top: 100px;
			color: black;
			background-color: pink;
			border-radius: 24px;
			position: absolute;
			left: 210px;
			opacity: 0%;
			transition-duration: .60s;
		}

		.buttonA {
			background-image: url("images/buttons/btnArtifactA.png");
			background-size: cover;
			box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}

			.buttonA:hover {
				box-shadow: 0 5px 10px rgba(0,0,0,.5);
				transform: scale(.95);
			}

		boxCRUD {
			padding: 0;
			margin: 0;
			width: 1000px;
			height: 100px;
			text-align: right;
			top: 90px;
			left: 820px;
			color: #FF0000;
			position: absolute;
			opacity: 75%;
			background-image: url("images/GUI/DC_GUI_user_Direction.png");
			background-size: cover;
		}

		boxbuttons {
			padding: 0;
			margin: 0;
			width: 900px;
			height: 240px;
			text-align: right;
			top: 75px;
			left: 630px;
			color: #FF0000;
			position: absolute;
			opacity: 100%;
			background-image: url("images/GUI/DC_GUI_user_Question.png");
			background-size: cover;
		}

		.exhibitPanel {
			position: absolute;
			top: 370px;
			left: 500px;
			color: blanchedalmond;
			width: 540px;
			font-size: x-large;
			text-overflow: ellipsis;
			/* Required for text-overflow to do anything */
			white-space: nowrap;
			overflow: hidden;
		}

		.exhibitInfo {
			position: absolute;
			top: 350px;
			left: 600px;
			color: blanchedalmond;
			width: 540px;
			height: 700px;
			font-size: x-large;
			text-overflow: ellipsis;
			/* Required for text-overflow to do anything */
			white-space: nowrap;
			overflow: hidden;
		}

		.tableList {
			position: absolute;
			width: 180px;
			height: 63px;
		}
	</style>

	<h2 style="	top: 77px;	left: 1255px;	position: absolute">POD Locked: @pod  </h2>
	<div class="nova">
	<select class="tableList" style="
		top: 300px;
		left: 612px;
	" @bind=subjectFilter>
		<option value="****">****</option>
		@foreach (var pype in pypes)
		{
			if (pype.PypeId == "NOUN" && pype.PodIdFk == pod)
			{
				<option value="@pype.PypeType">@pype.PypeType</option>
			}
		}
	</select>
	<select class="tableList" style="
		top: 300px;
		left: 869px;
	" @bind=actionFilter>
		<option value="****">****</option>
		@foreach (var pype in pypes)
		{
			if (pype.PypeId == "VERB" && pype.PodIdFk == pod)
			{
				<option value="@pype.PypeType">@pype.PypeType</option>
			}
		}
	</select>
	<select class="tableList" style="
		top: 300px;
		left: 1127px;
	" @bind=objectFilter>
		<option value="****">****</option>
		@foreach (var pype in pypes)
		{
			if (pype.PypeId == "NOUN" && pype.PodIdFk == pod)
			{
				<option value="@pype.PypeType">@pype.PypeType</option>
			}
		}
	</select>

	<form>
		@*SubjectAction subject*@
		<select class="tableList" style="
			top: 438px;
			left: 612px;
		" @bind=subject required>
			@foreach (var subject in subjects)
			{
				<option value="@subject.NounId"> @subject.NounLabel</option>
			}
		</select>
		@*SubjectAction action*@
		<select class="tableList" style="
			top: 438px;
			left: 869px;
		" @bind=action required>
			@foreach (var action in actions)
			{
				<option value="@action.VerbId"> @action.VerbLabel</option>
			}
		</select>
		<button type="submit" style="
			position: absolute;
			top: 361px;
			left:113px;
			width:359px;
			height:106px;
			border-radius:8px;
			"/>
	</form>

	<form>
	@*ActionObject action*@
		<select class="tableList" style="
			top: 575px;
			left: 869px;
		" @bind=action required>
			@foreach (var action in actions)
			{
				<option value="@action.VerbId"> @action.VerbLabel</option>
			}
		</select>
	@*ActionObject object*@
		<select class="tableList" style="
			top: 575px;
			left: 1127px;
		" @bind=obj required>
			@foreach (var obj in objects)
			{
				<option value="@obj.NounId"> @obj.NounLabel</option>
			}
		</select>
		<button type="submit" style="
			position: absolute;
			top: 499px;
			left:1447px;
			width:359px;
			height:106px;
			border-radius:8px;
			"/>
	</form>

	<form onsubmit="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&filterType=Subject&id="+subject+"&prevPage=Nova&pid="+pid))">
		@*Subject*@
		<select class="tableList" style="
			top: 713px;
			left: 612px;
		" @bind=subject required>
			@foreach (var subject in subjects)
			{
				<option value="@subject.NounId"> @subject.NounLabel</option>
			}
		</select>
		<button type="submit" style="
			position: absolute;
			top: 637px;
			left:113px;
			width:359px;
			height:106px;
			border-radius:8px;
			"/>
	</form>

	<form onsubmit="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&filterType=Action&id="+action+"&prevPage=Nova&pid="+pid))">
		@*Action*@
		<select class="tableList" style="
			top: 846px;
			left: 869px;
		" @bind=action required>
			@foreach (var action in actions)
			{
				<option value="@action.VerbId"> @action.VerbLabel</option>
			}
		</select>
		<button type="submit" style="
			position: absolute;
			top: 769px;
			left:1447px;
			width:359px;
			height:106px;
			border-radius:8px;
			"/>
	</form>

	<form onsubmit="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&filterType=Object&id="+obj+"&prevPage=Nova&pid="+pid))">
		@*Object*@
		<select class="tableList" style="
		top: 982px;
		left: 1127px;
		" @bind=obj required>
			@foreach (var obj in objects)
			{
				<option value="@obj.NounId"> @obj.NounLabel</option>
			}
		</select>
		<button type="submit" style="
			position: absolute;
			top: 905px;
			left:113px;
			width:359px;
			height:106px;
			border-radius:8px;
			"/>
	</form>

	@*@if (subject != 0 && action != 0 && obj != 0)
	{
		<form @onsubmit=OnCreate>
			<button type="submit" style="
			position: absolute;
			top: 907px;
			left:1446px;
			width:362px;
			height:106px;
			background-color:yellow;
			border-radius:8px;
			">
				NOVA Create
			</button>
		</form>
	}*@

	@*<jukebox>
		<div>

			<audio controls="controls">
				<source src="/images/Audio/curatorintrojazz.mp3" />
			</audio>

		</div>
		</jukebox>*@
	</div>
</div>

